body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

#container {
  max-width: 1200px;
  margin: 0 auto;
}

#tea-container {
  max-width: 1000px;
  margin: 0 auto;
}

#mission-background {
  background-image: url("../img-mission-background.jpg");
  height: 700px;
  max-width: 1200px;
  position: relative;
  top: 70px;
  display: flex;
  align-items: center;
}

#mission-header {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mission-header h2 {
  margin-bottom: 0px;
}

.flex {
  display: flex;
}

.box img {
  width: 300px;
  height: 200px;
}

.box h4 {
  margin-top: 10px;
}

#tea-boxes {
  justify-content: space-between;
  align-content: center;
}

#tea-boxes-2 {
  justify-content: center;
  align-content: center;
}

#tea-boxes-2 .right-margin {
  margin-right: 50px;
}


#featured-tea {
  position: relative;
  top: 120px;
}

#featured-tea h2 {
  text-align: center;
}

#featured-tea h4 {
  text-align: center;
}


#location-background {
  background-image: url("../img-locations-background.jpg");
  height: 500px;
  max-width: 1200px;
  position: relative;
  margin-top: 175px;
  display: flex;
  align-items: center;
}

#location-header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#location-header h2 {
  text-align: center;
}

#location-header h3 {
  text-align: center;
}

#location-header h4 {
  text-align: center;
}

#location-boxes {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#l-box {
  background-color: black;
  width: 300px;
}

#location-boxes .right-margin {
  margin-right: 40px;
}

#margin-left {
  margin-left: 20px;
}

.opacity-1 {
  opacity: 1;
}


header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: black;
}

header h1 {
  font-family: serif;
  /*font-family: cursive;*/
  min-width: 300px;
  height: 50px;
  padding-left: 10px;
  align-self: center;
}

footer {
  height: 200px;
  text-align: center;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin-left: 30px;
}

nav span {
  padding-right: 10px;
}

nav span a {
  color: seashell;
}


header p {
  color: MediumAquamarine;
  padding-left: 10px;
}
